@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    padding-left: 1rem;
}

h5 {
    padding-left: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

hr {
    border-top: 5px dotted black;
}

li {
    padding-left: 1rem;
    list-style-type: square;
}

li:hover {
    background: linear-gradient(-90deg, RoyalBlue, LightSkyBlue);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: black wavy underline;
}

h3.return {
    position: fixed;
    bottom: 0px;
    padding-left: 1rem;
}

h3.return:hover {
    background: linear-gradient(-90deg, RoyalBlue, LightSkyBlue);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}




@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }